.form-container {
    margin-bottom: 5px;
    border: 2px solid #000; /* Add this line */
}

.info {
    color: green;
}

.error {
    color: red;
}

.dismiss-btn {
    background-color: red;
    color: white;
}

.submit-btn {
    background-color: green;
    color: white;
    padding-left: 5px; /* Add 5px space to the left of the submit button */
}

textarea {
    width: 100%;
    height: 100px;
}

.call-type-btn {
    margin: 5px; /* Adds space around the buttons */
}

.call-type-btn-container {
    display: flex;
    margin-bottom: 5px; /* Adds space below the buttons */
}

.hidden {
    display: none;
}

.info-item {
    color: green;
}

/* Existing CSS */
.callForm input[type="text"], 
.callForm input[type="email"],
.callForm textarea {
    display: block;
    margin-bottom: 5px; /* Add some space between fields */
}

/* Updated CSS */
.callForm div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 5px; /* Add 5px space to the left of each div in .callForm */
}

.callForm div input,
.callForm div textarea {
    margin-right: 10px;
}

/* New CSS */
#formsContainer {
    display: flex;
    flex-direction: column;
}
