.form-container {
    margin-bottom: 5px;
    border: 1px solid black; /* Adds a border around the form */
    padding: 5px; /* Adds some space inside the form container */
    width: 100%; /* New property to stretch the container to full width */
    box-sizing: border-box; /* New property to include padding and border in the container's total width */
}

.info {
    color: green;
}

.error {
    color: red;
}

.dismiss-btn {
    background-color: red;
    color: white;
    width: auto; /* Takes only as much space as needed */
    padding: 5px 10px; /* Add some padding around the text */
}

.submit-btn {
    background-color: green;
    color: white;
    width: auto; /* Takes only as much space as needed */
    padding: 5px 10px; /* Add some padding around the text */
}

textarea {
    width: 100%;
    height: 100px;
}

.call-type-btn {
    margin: 5px; /* Adds space around the buttons */
}

.call-type-btn-container {
    display: flex;
    margin-bottom: 5px; /* Adds space below the buttons */
}

.hidden {
    display: none;
}

.info-item {
    color: green;
}

.callForm input[type="text"], 
.callForm input[type="email"],
.callForm textarea {
    display: block;
    margin-bottom: 5px; /* Add some space between fields */
}

.callForm {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
}

.callForm > div, /* Selects all divs that are direct children of .callForm */
.callForm > button /* Selects all buttons that are direct children of .callForm */ {
    align-items: flex-start; /* Aligns items to the start (left side) of the container */
    margin-bottom: 5px;
    padding-left: 5px; /* Add 5px space to the left of each div and button in .callForm */
}

.callForm div input,
.callForm div textarea {
    margin-right: 10px;
}

#formsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.output {
    padding: 5px; /* Adds some space inside the output div */
    background-color: #f0f0f0; /* Sets a light grey background color */
}

.output-data {
    /* Add any specific styles for the results text here */
}

/* New CSS */
.button-container {
    display: flex;
    justify-content: flex-start;
}

.update-btn,
.toggle-btn,
.delete-btn {
    width: auto; /* Takes only as much space as needed */
    padding: 5px 10px; /* Add some padding around the text */
}
