.form-container {
    margin-bottom: 20px;
}

.info {
    color: green;
}

.error {
    color: red;
}

.dismiss-btn {
    background-color: red;
    color: white;
}

.submit-btn {
    background-color: green;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
}

.call-type-btn {
    margin: 10px; /* Adds space around the buttons */
}

.call-type-btn-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    margin-bottom: 20px; /* Adds space below the buttons */
}

.hidden {
    display: none;
}

.info-item {
    color: green;
}

/* Existing CSS */
.callForm input[type="text"], 
.callForm input[type="email"],
.callForm textarea {
    display: block;
    margin-bottom: 5px; /* Add some space between fields */
}

/* Existing CSS */
.callForm div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.callForm div input,
.callForm div textarea {
    margin-right: 10px;
}
